<div
  *ngFor="
    let item of jsonArray | angularPaginator: { id: this.id, itemsPerPage: this.itemsPerPage(), currentPage: currentPage() };
    let i = index
  "
>
  <span class="page-number">{{ (currentPage() - 1) * itemsPerPage() + i + 1 }}.</span> {{ item.name }}
</div>
<br />
<nav
  angularPaginator
  [forceEllipses]="true"
  [rotate]="true"
  [maxSize]="5"
  aria-label="Pagination Component"
  #paginator="angularPaginator"
  id={{this.id}}
  (pageChange)="currentPage.set($event)"
>
  <ng-container *ngIf="paginator.pages['length'] !== 0">
    <ul class="pagination pagination-sm">
      <!-- direction link -->
      <li class="page-item" [ngClass]="{ disabled: paginator.currentPage === paginator.firstPage }">
        <button class="page-link" (click)="paginator.toPreviousPage()" (keyup)="onKeyUp()">
          <span aria-hidden="true">Previous</span>
          <span class="visually-hidden">Previous</span>
        </button>
      </li>

      <!-- pagination array -->
      <li class="page-item" *ngFor="let page of paginator.pages" [ngClass]="{ active: page['active'] }">
        <button class="page-link" (click)="!page['active'] && paginator.setCurrentPage(page['number'])" (keyup)="onKeyUp()">
          {{ page['text'] }}
          <span class="visually-hidden" *ngIf="!page['active']">Page{{ page['text'] }}</span>
          <span class="visually-hidden" *ngIf="page['active']">You are on page {{ page['text'] }}</span>
        </button>
      </li>

      <!-- direction link -->
      <li class="page-item" [ngClass]="{ disabled: paginator.currentPage === paginator.lastPage }">
        <button class="page-link" (click)="paginator.toNextPage()" (keyup)="onKeyUp()">
          <span aria-hidden="true">Next</span>
          <span class="visually-hidden">Next</span>
        </button>
      </li>
    </ul>
  </ng-container>
</nav>

<button class="btn btn-primary btn-sm" (click)="currentPage.set(3)" [disabled]="currentPage() === 3" (keyup)="onKeyUp()">
  Set CurrentPage to 3
</button>
