<nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
  <a class="navbar-brand" href="javascript:void(0)">Angular Paginator</a>

  <div class="navbar-nav mr-auto mt-2 mt-lg-0">
  </div>
  <div class="my-2 my-lg-0">
    <a href="https://github.com/Sibiraj-S/angular-paginator/releases/latest" target="_blank">
      <span class="navbar-text">
        {{ latestRelease?.tag_name }}
      </span>
    </a>
    <a href="https://github.com/Sibiraj-S/angular-paginator" target="_blank">
      <span class="navbar-text">
        <i class="fa fa-github" aria-hidden="true"></i>
      </span>
    </a>
  </div>
</nav>
<div class="entry-container container text-center">
  <img src="./assets/angular.svg" alt="angular-paginator" width="250">
  <div class="text-center">
    <h2 class="title">angular-paginator</h2>
    <p>A Simple Pagination component using Bootstrap-4 for Angular Applications</p>
    <div class="buttons">
      <a class="github-button" href="https://github.com/Sibiraj-S" aria-label="Follow @Sibiraj-S on GitHub">Follow @Sibiraj-S</a>
      <a class="github-button" href="https://github.com/Sibiraj-S/angular-paginator/fork" aria-label="Fork Sibiraj-S/angular-paginator on GitHub">Fork</a>
      <a class="github-button" href="https://github.com/Sibiraj-S/angular-paginator" aria-label="Star Sibiraj-S/angular-paginator on GitHub">Star</a>
      <a class="github-button" href="https://github.com/Sibiraj-S/angular-paginator/issues" data-show-count="true" aria-label="Issue Sibiraj-S/angular-paginator on GitHub">Issue</a>
      <a class="github-button" href="https://github.com/Sibiraj-S/angular-paginator/archive/master.zip" aria-label="Download Sibiraj-S/angular-paginator on GitHub">Download</a>
    </div>
  </div>
  <p class="version">{{ latestRelease?.tag_name }}</p>
</div>
<hr>
<div class="container-fluid paginator">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pagination-components">
        <div *ngFor="let item of jsonArray | angularPaginator: {itemsPerPage: this.itemsPerPage, currentPage: currentPage }; let i = index">
          <span class="page-number">{{ (currentPage - 1) * itemsPerPage + i +1 }}.</span> {{ item['name'] }}
        </div>
        <br>
        <app-angular-paginator className="pagination-sm" forceEllipses="true" (pageChange)="currentPage = $event"></app-angular-paginator>
        <br>
        <button class="btn btn-info btn-sm" (click)="currentPage = 3" [disabled]="currentPage === 3">Set CurrentPage to 3</button>
      </div>
      <div class="col-md-6 pagination-options">
        <p>A Simple and Lightweight Pagination component for Angular Applications</p>
        <h5>Options</h5>
        <ul>
          <li>
            <b>id: </b> Use unique id when multiple paginations are being used on the same page
          </li>
          <li>
            <b>boundaryLinks: </b>(Default: true) Whether to display First / Last buttons
          </li>
          <li>
            <b>directionLinks: </b>(Default: false) Whether to display Previous / Next buttons
          </li>
          <li>
            <b>maxSize: </b>(Default: 5) Limit number for pagination size
          </li>
          <li>
            <b>rotate: </b>(Default: true) Whether to keep the current page in the middle of the visible ones
          </li>
          <li>
            <b>boundaryLinkNumbers: </b>(Default: false) Whether to always display the first and last page numbers. If max-size
            is smaller than the number of pages, then the first and last page numbers are still shown with ellipses in-between
            as necessary. NOTE: max-size refers to the center of the range. This option may add up to 2 more numbers on each
            side of the displayed range for the end value and what would be an ellipsis but is replaced by a number because
            it is sequential
          </li>
          <li>
            <b>forceEllipses: </b>(Default: false) Also displays ellipses when rotate is true and maxSize is smaller than the
            number of pages
          </li>
          <li>
            <b>className: </b>(Default: 'ANGULAR_PAGINATOR_DEFAULT') Adds custom class to the pagination element
          </li>
          <li>
            <b>firstText: </b>(Default: 'First') Text for First button. Can have HTML
          </li>
          <li>
            <b>previousText: </b>(Default: 'Previous') Text for Previous button. Can have HTML
          </li>
          <li>
            <b>nextText: </b>(Default: 'Next') Text for Next button. Can have HTML
          </li>
          <li>
            <b>lastText: </b>(Default: 'Last') Text for Last button. Can have HTML
          </li>
          <li>
            <b>autoHide: </b>(Default: false) Hides the pagination component if items length is less than itemsPerPage
          </li>
          <li>
            <b>disabled: </b>(Default: false) Disables pagination component
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>