.paginator {
    font-size: 95%;

    .btn {
        &:focus {
            box-shadow: none;
        }
    }

    mark {
        background-color: #f1f1f1;
    }

    .title {
        display: inline-block;
    }

    .pagination-components {
        margin-bottom: 2rem;

        p {
            margin-bottom: 0.5rem;
        }

        .page-number {
            display: inline-block;
            width: 20px;
            text-align: right;
            margin-right: 3px;
        }
    }

    .pagination-options {
        ul {
            li {
                margin-bottom: 0.5rem;
            }
        }
    }
}
