name: Tests

on:
  push:
    branches: master
  pull_request:
    branches: master

env:
  NODE_VERSION: 16

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - run: node --version
      - run: npm --version

      - name: NPM Install
        run: npm ci

      - name: Build
        run: npm run build:lib
        env:
          NODE_ENV: production

      - name: Test
        run: npm run test:lib
